<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @apartmentsw.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @apartmentsw.body %>
</p>



<p>
  <strong>User:</strong>
  <%= @apartmentsw.user%>
</p>

<%= link_to 'Edit', edit_apartmentsw_path(@apartmentsw) %> |
<%= link_to 'Back', apartmentsws_path %>
