<!DOCTYPE html>
<html>
<head>
  <title>Xplor</title>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
<!--nav bar with home, rent sign in sign up and other buttons-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <img class="mb-4" src="http://www.voicemailtel.com/wp-content/uploads/2013/08/x-lite.png" alt="" width="40" height="40">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault">
  </button>

<!--home button-->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", home_path %>
      </li>
      
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "About", about_path %></a>
      </li>
      

      <% if current_user %>
       <!--link to sign out page-->
        <li class="nav-item">
        <a class="nav-link" <%= link_to "Log out", destroy_user_session_path, method: :delete %> </a>
      </li>
      
      <% else %>
      <!--About Page link at nav-bar-->
      
      
      
      <!--link to sign IN page-->
      <li class="nav-item">
        <!--<a class="nav-link" <%= link_to "Log In", new_user_session_path %> </a> -->
      </li>
      
      <!--link to sign up page-->
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign Up!", new_user_registration_path %> </a>
      </li>
      
      <% end %>
      
     
    </ul>
   
  </div>
</nav>

<p style="padding-bottom: 50px;"></p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</body>
</html>


